@media screen and (max-width: 992px) {

    .header_background{

    }
    .header_info {
        width: 95%;
    }

    .header_info_contact_info {
        display: none;
    }

    .header_info_contact {
        flex-grow: 0;
    }

    .header_nav {
        width: 90%;
    }

    .header_info_contact_button {
        margin-right: 20px;
        padding: 20px;
    }

    .header_nav_menu {
        margin-right: 10px;
    }

    .header_nav_menu_list_item {
        font-size: 15px;
    }

    .header_nav_icon_social {
        display: none;
    }

    .hero_title{
        /*margin-top: 50px;*/
        /*margin-right: 5%;*/
    }
    .hero_header_title{
        font-size: 16px;
    }
    .hero_main_title{
        width: 300px;
        font-size: 30px;
        line-height: 55px;
    }
    .hero_footer_desc{
        width: 500px;
        font-size: 18px;
        line-height: 35px;
    }


}