@media screen and (max-width: 992px) {


    .header_info {
        width: 95%;
    }

    .header_info_contact_info {
        display: none;
    }

    .header_info_contact {
        flex-grow: 0;
    }

    .header_nav {
        width: 90%;
    }

    .header_info_contact_button {
        margin-right: 20px;
        padding: 20px;
    }

    .header_nav_menu {
        margin-right: 10px;
    }

    .header_nav_menu_list_item {
        font-size: 15px;
    }

    .header_nav_icon_social {
        display: none;
    }
}