@media screen and (max-width: 480px) {
    .header_background {

    }

    .header_info_logo {
        flex-basis: 150px;
    }
    .header_nav {
        width: 60%;
    }
    .hero_title{
        /*width: 50%;*/
    }
    .hero_header_title{
        font-size: 14px;
    }
    .hero_main_title{
        width: 200px;
        font-size: 20px;
        line-height: 40px;
    }
    .hero_footer_desc{
        width: 280px;
        font-size: 14px;
        line-height: 25px;
    }

}