@media screen and (max-width: 768px) {
    header {
        padding-top: unset;
    }

    .header_background {
        position: relative;
        height: 50vh;
    }

    .header_info {
        width: 100%;
        padding: 10px 20px;
    }

    .header_info:before {
        content: "";
        width: 100%;
        height: 5px;
        background: #285bbb;
        position: absolute;
        top: 0;
        left: 0;
    }

    .header_info_logo {
        flex-basis: 180px;
    }

    .header_info_contact {
        display: none;
    }

    .header_info_navbar {
        padding: 10px;
        border-radius: 3px;
        font-size: 22px;
        cursor: pointer;
        color: #FFF;
        background: #285bbb;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .header_nav {
        width: 50%;
        height: 100%;
        margin: unset;
        position: fixed;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, #1c9dbf, #285bbb);
        padding: 20px 0;
        display: flex;
        flex-flow: wrap column;
        justify-content: space-between;
    }

    .header_nav_menu {
        margin-right: unset;
        height: 100%;
    }

    .header_nav_menu_lists {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header_nav_menu_list {
        width: 100%;
    }

    .header_nav_menu_list_item {
        width: 100%;
        display: block;
        padding: 20px;
        text-align: center;
        font-weight: bold;
        color: #FFF;
        transition: all 300ms linear;

    }

    .header_nav_menu_list:first-child .header_nav_menu_list_item {
        font-size: 22px;
    }

    .header_nav_menu_list_item:hover {
        background: #285bbb;
    }

    .header_nav_icon {
        display: none;
    }

}